.container{
    max-width: 1440px;
    width: 100%;
    height: 1845px;
    margin-inline: auto;
    overflow: hidden;
}
/* header */
header{
    width: 80%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.skilled_header_p{
    display: none;
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 28px;
    color: #13183F;
}
.get_started{
    width: 167px;
    height: 56px;
    background-color: #13183F;
    border-radius: 28px;
    text-align: center;
}
.get_started:hover{
    background: #666CA3;
    cursor: pointer;
}
.get_started_h2{
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 18px;
    margin-top: 18px;
}   
/* article */
article{
    width: 80%;
    height: 400px;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.explanation{
    width: 40%;
    height: 100%;
    margin-top: 80px;
}
.explanation_h2{
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
}
p{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    margin-top: 29px;
}
.explanation_get_started{
    width: 167px;
    height: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 28px;
    text-align: center;
    margin-top: 43px;
}
.explanation_get_started:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: pointer;
}
.explanation_get_started_h2{
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 18px;
    padding-top: 18px;
}
.picture{
    width: 40%;
    height: 500px;
    position: relative;
}
.girls_image{
    position: absolute;
    z-index: 2;
    left: 17%;
    bottom: -4%;
}
.rectangle{
    width: 317px;
    height: 900px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 158.5px;
    transform: rotate(45deg);
    position: relative;
    z-index: 1;
    top: -300.13px;
    left: 285px;
}
.course_hours{
    width: 199px;
    height: 120px;
    background-color: #fff;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    top: 300px;
}
h3{
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 16px;
    color: #83869A;
    margin-left: 24px;
    margin-top: 20px;
}
.numbers{
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 40px;
    color: #13183F;
    margin-left: 24px;
}
.members{
    width: 155px;
    height: 120px;
    background-color: #fff;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 360px;
}
/* cards */
.cards{
    width: 80%;
    height: 748px;
    margin: 226px auto 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
}
.first_three_card{
    display: flex;
    justify-content: space-between;
}
.second_three_card{
    display: flex;
    justify-content: space-between;
}

.top_cards{
    width: 32%;
    height: 322px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381)
}
.first_card{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    text-align: center;
}
.first_card_p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 64px;
}
.small_svgs{
    margin-left: 32px;
    position: absolute;
    top: -8px;
}
.title{
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 24px;
    color: #13183F;
    margin: 64px 0 0 32px;
}
.card_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    margin: 24px 0 0 32px;
}
.cards_get_started{
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 18px;
    color: #F74780;
    margin: 24px 0 0 32px;
}
.small_svgs2{
    margin-left: 32px;
    position: absolute;
    top: 395px;
}
/* footer */
    footer{
        width: 80%;
        height: 120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 140px;
        background: #13183F;
    }
    .get_started_footer{
        width: 167px;
        height: 56px;
        background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        border-radius: 28px;
        text-align: center;
        margin-right: 165px;
    }
    .get_started_footer:hover{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        cursor: pointer;
    }
    .footer_image{
        margin-left: 165px;
    }
@media (max-width: 1230px){
    header{
        width: 90%;
    }
    article{
        width: 90%;
    }
    .cards{
        width: 90%;
    }
    footer{
        width: 90%;
    }
    .girls_image{
    left: 1%;
    }
    .rectangle{
    width: 250px;
    top: -285.13px;
    left: 260px;
    }
    .members{
    left: 260px;
    }
    .course_hours{
    top: 300px;
    left: -100px;
    }
}
@media (max-width: 1020px){
    .members{
    width: 105px;
    height: 100px;
    top: 60px;
    left: 260px;
}
h3{
    font-size: 14px;
}
.numbers{
    font-size: 32px;
}
.course_hours{
    width: 155px;
    height: 100px;
}
.footer_image{
    margin-left: 40px;
}
.get_started_footer{
    margin-right: 40px;
}
}
@media (max-width: 900px){
.girls_image{
    width: 216.54px;
    height: 382.53px;
    left: 17%;
    bottom: 35%;
}
.rectangle{
    width: 200px;
    top: -475.13px;
    left: 310px;
    }
    .members{
    width: 105px;
    height: 100px;
    top: -50px;
    left: 210px;
    }
    .course_hours{
    top: 260px;
    left: 10px;
    }
    .explanation{
    width: 50%;
    height: 100%;
    margin-top: 0px;
    }
    .explanation_h2{
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
    }
    .cards{
        margin-top: 100px;
    }
    .container{
        height: 1700px;
    }
}

